/* Basic fixes to the Auth0 embedded box */
.authentication-type #root {
	margin-top: 0px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border: 0 !important;
	padding: 0 !important;
}

.ccm-ui .login-page .login-form .login-row .controls {
	height: auto;
	/*min-width: 355px;*/
}

.ccm-ui .login-page .login-form .login-row .types {
	height: auto;
	padding-bottom: 25px;
}

.authentication-type #root .a0-body-content {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.authentication-type #root H1 {
	font-size: 22px !important;
	color: #000000 !important;
}

@media (max-width: 1200px) {
	.ccm-ui .login-page .login-form .login-row .controls {
		width: 100%;
		padding-right: 52px;
	}
	
	.ccm-ui .login-page .login-form .login-row .types {
		width: 100%;
		padding-bottom: 0;
		padding-top: 0;
	}
}

@media (max-width: 400px) {
	.ccm-ui .login-page .login-form .login-row .controls {
		width: 100vw;
		margin-left: -23px;
		margin-right: -23px;
		padding-left: 0;
		padding-right: 20px;
	}
	
	.ccm-ui .login-page .login-form .login-row .types {
		width: 100%;
		padding-bottom: 0;
		padding-top: 0;
	}
}

.backstretch {
	background: #373737;
}

.backstretch IMG {
	opacity: 0.07;
}

.ccm-page-background-credit {
	opacity: 0.2;
}
